.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background-color: rgb(0, 0, 0,0.5);
    /* cursor: pointer; */
}

.child_container{
    border: none;
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

.child{
    margin: 30px;
}

.head{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 3.5%;
    padding-bottom: 15px;
}

.groupName{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 3.5%;
    padding-bottom: 15px;
}

.input{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}

.input input{
    padding: 10px;
    width: 20vw;
    border-radius: 22px;
    border: 2px solid #CCCCCC;
    font-size: 1rem;
    font-weight: 400;
    font-family: Roboto;
    outline: none;
}

.colors{
   display: flex;
   gap: 30px;
}
.colors p{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 3.5%;
    padding-bottom: 15px;

}
.btn{
    background-color: #001F8B;
    padding: 8px 30px;
    color: #FFFFFF;
    border-radius: 11px;
    border: none;
    float: right;
    cursor: pointer;
}
.btn:hover{
    background-color: #374168;
}

.bgCircle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}
.bgCircle:hover{
    transform: scale(1.2);
   
}

.circle{
    display: flex;
    justify-content: start;
    gap: 10px;
   
}

.error{
    color: red;
    font-size: 1.2rem;
    text-align: center;
}
.errorColor{
    height: 20px ;
    width: auto;
    border: none;
    margin-bottom: 10px;

}
.error_msg{
    height: 20px ;
    width: auto;
    border: none;
    margin-bottom: 10px;
}

.selected{
    border: 3px solid red;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    
}

@media (max-width: 768px){
    .container{
        width: 100%;
    }

    .child_container{
        width: 90%;
        height: auto;
    }
    .groupName{
        font-size: 1rem;
    }
    .input{
        gap: 30px;
    }
    .input input{
        width: 60%;
        font-size: 0.8rem;
    }
    .colors p{
        font-size: 1rem;
    }
    
    .bgCircle{
        width: 20px;
        height: 20px;
    }

    .selected{
        height: 29px;
        width: 29px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .head{
        font-size: 1.2rem;
    }

}

